* {
  margin: 0px;
  padding: 0px;
}

/* CSS FOR NAVBAR */
nav {
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;
}

.logo {
  font-family: "Bona Nova SC", serif;
  font-weight: 500;
  font-style: normal;
}

.nav-buttons {
  display: inline-flex;
  margin-left: 650px;
}

.webpage-butt {
  margin-left: 100px;
  margin-top: 40px;
}

.login-butt {
  margin-left: 85px;
  margin-top: 32px;
  width: 90px;
  height: 45px;
}

.register-butt {
  margin-left: 50px;
  margin-top: 32px;
  width: 90px;
  height: 45px;
}

/* CSS FOR GALLERY */
.banner-text {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
  bottom: 300px;
  left: 500px;
}

/* CSS FOR INFO */
.features {
  width: 100%;
  height: 370px;
}

.feature-tile {
  margin-left: 240px;
}

.feature-icon {
  width: 150px;
  height: 150px;
}

/* CSS FOR BLOG AREA */
.blog-title {
  font-family: "Zilla Slab", serif;
  font-weight: 600;
  font-style: normal;
}

.blog-tile {
  width: 1200px;
  height: 300px;
  box-shadow: 5px 5px 5px 5px #00000042;
  margin-left: 360px;
  border-radius: 15px;
}

/* CSS FOR LOGIN PAGE */
.login-box {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  box-shadow: 0.5px 0.5px 1px 1px #006302;
}

.register-box {
  width: 500px;
  height: 650px;
  border-radius: 25px;
  box-shadow: 0.5px 0.5px 1px 1px #006302;
}